<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐</title>
    <link rel="stylesheet" type="text/css" href="./css/image.css"/>
</head>
<body>

<div id="app">
    <!--辅助框-->
    <div class="backgroud">
        <div class="backgroud1">
        <transition-group tag="ul" name="image">
            <li v-for="(items,index) in list"   v-show="index===num" :key="index"  >
                <img :src="items" alt="">
                <div>
                <span v-for="(items,index) in data" class="nav" @click="change(index)" :class="{'active':index==num}">{{items}}</span>
                </div>
            </li>
        </transition-group>
        </div>
    </div>
    <!--隐藏框-->
    <div class="showdiv"  ref="showdiv">
    </div>
    <!--图标框-->
    <div class="musicperson">
        <img src="./image/preson.jpg" alt="">

    </div>

    <div class="musicdiv">
        <!--导航框-->
        <div class="navigate">
            <a href="./网易云首页.html">首页</a>
            <a href="./image.html">推荐</a>
            <a href="./picture.html">写真</a>

        </div>
    </div>
    <div   class="app">
       <!--实现轮播滚动-->
        <transition-group tag="ul" name="image">
            <li v-for="(items,index) in list" v-on:mouseover="stop()" v-on:mouseout="move()" v-show="index===num" :key="index"  >
                <img :src="items" alt="">
                <div>
                <span v-for="(items,index) in data" class="nav" @click="change(index)" :class="{'active':index==num}">{{items}}</span>
                </div>
            </li>
        </transition-group>
        
    </div>
    <!--推荐框-->
    <div class="tuijian">
        <div class="tj">
            <div class="tj_head">
                热门推荐
            </div>
            <div class="tj_bottom1">
                <a><img src="./image/周杰伦.jpg"></a>
                <a><img src="./image/薛之谦.jpg"></a>
                <a><img src="./image/陈奕迅推荐.jpg"></a>
                <a><img src="./image/iu推荐.jpg"></a>
                <a><img src="./image/李荣浩推荐.jpg"></a>
            </div>
            <div class="tj_bottom2">
                <a><img src="./image/泰勒推荐.jpg"></a>
                <a><img src="./image/碧莉推荐.jpg"></a>
                <a><img src="./image/omn推荐.jpg"></a>
                <a><img src="./image/awk推荐.jpg"></a>
                <a><img src="./image/sia推荐.jpg"></a>
            </div>
            
        </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

    new Vue({
        el:'#app',
        data(){
            return{
                data:['1','2','3'],
                time:'',
                num:0,
                list:["./image/戳爷.jpg","./image/shininggirl.jpg","./image/dawnofus.jpg"],
            }
        },
        methods:{
            play(){
                this.time=setInterval(()=>{
                    this.num++;
                    if(this.num==3){
                        this.num=0
                    }

                },2000)
            },
            change(i){
                this.num=i
            },
            stop(){
                clearInterval(this.time)
            },
            move(){
                this.play();
            }
        },
        created(){
            this.play();
        },

    })
</script>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script>
        //鼠标移上图标框显示隐藏框
        $(".musicperson").mouseover(function(){
            
            $(".showdiv").slideDown();
            $(".showdiv").css("display","block");
            
        })
        $(".showdiv").mouseout(function(){
            
            $(".showdiv").slideUp();
            $(".showdiv").css("display","block");
            
        })
        $(".navigate").mouseover(function(){
            
            $(".showdiv").slideUp();
            $(".showdiv").css("display","none");
            
        })
       
       
    
    </script>
</body>

</html>